<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 联系方式<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('contact/index')}" data-title="联系方式" href="javascript:void(0)">联系方式</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('user/index')}" data-title="会员列表" href="javascript:void(0)">会员列表</a></li>
					<li><a _href="{:url('Card/index')}" data-title="会员列表" href="javascript:void(0)">会员卡</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe6e6;</i> 首页视频 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('video/index')}" data-title="首页视频" href="javascript:void(0)">首页视频</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe62f;</i> 公告管理 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('notice/index')}" data-title="公告信息" href="javascript:void(0)">公告信息</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 教练信息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('coach/index')}" data-title="教练信息" href="javascript:void(0)">教练列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 课程信息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li><a _href="{:url('course/index')}" data-title="课程信息" href="javascript:void(0)">课程信息</a></li> -->
					<li><a _href="{:url('course/pub')}" data-title="课程信息" href="javascript:void(0)">团体课</a></li>
					<li><a _href="{:url('course/pri')}" data-title="课程信息" href="javascript:void(0)">私教课</a></li>
					<li><a _href="{:url('course/table')}" data-title="课程周表" href="javascript:void(0)">课程周表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i>订单列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('order/index')}" data-title="团体课" href="javascript:void(0)">团体课</a></li>
					<li><a _href="{:url('order/privacy')}" data-title="私教课" href="javascript:void(0)">私教课</a></li>
					<li><a _href="{:url('order/equipment')}" data-title="健身器材" href="javascript:void(0)">健身器材</a></li>
					<li><a _href="{:url('order/single')}" data-title="单次服务" href="javascript:void(0)">单次服务</a></li>
					<li><a _href="{:url('order/card')}" data-title="会员卡" href="javascript:void(0)">会员卡</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i>活动列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('activity/index')}" data-title="活动列表" href="javascript:void(0)">活动列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i>健身器材<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('equipment/index')}" data-title="活动列表" href="javascript:void(0)">健身器材</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i>单次服务<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('single/index')}" data-title="活动列表" href="javascript:void(0)">单次服务</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>