<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('user/save')}">
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">用户名：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="username" value="" required>
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">密码：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="password" name="password" value="" required>
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">邮箱：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="email" value="" required >
				</div>
			</div>
			 
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">身高：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="height" value="" style="width: 250px;" >
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">体重：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="weight" value="" style="width: 250px;" >
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">TEL：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="tel" value="" style="width: 250px;" required>
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">地址：</label>
				<div class="formControls col-xs-5 cl-sm-6">	 
				  <input class="input-text" type="text" name="address" value="" style="width: 250px;" required>
				</div>
			</div>
			<div class="row cl">
				<label class="form form-label col-xs-4 col-sm-2">代表图：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div id="file_upload"></div>
					<img src="" style="display: none;" id="upload_org_code_img" width="150" height="150">
					<input type="hidden" id="file_upload_image" multiple="true" name="image">
					<input type="hidden" id="originimg" value="">
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}